<header class="header-start">
  <app-header-top></app-header-top>
  <h2>
    <ng-container *ngIf="!authService.isLoggedIn && !isLoading">
      Fijn dat u terug bent.
    </ng-container>
    <ng-container *ngIf="isLoading">
      Aan het inloggen ...
    </ng-container>
    <ng-container *ngIf="authService.isLoggedIn">
      U bent ingelogd.
    </ng-container>
  </h2>
  <p *ngIf="!authService.isLoggedIn">
    Log in met uw account en vergeet nooit meer uw medicatie in te nemen.
  </p>
</header>

<ng-container *ngIf="!authService.isLoggedIn">
  <form>
    <div class="input-group">
      <label *ngIf="showEmailLabel" for="email" class="appear">E-mailadres</label>
      <input type="text" placeholder="E-mailadres" (keyup)="checkInput(email.value, 'email')" #email />
    </div>

    <div class="input-group">
      <label *ngIf="showPasswordLabel" for="password" class="appear">Wachtwoord</label>
      <input type="password" placeholder="Wachtwoord" (keyup)="checkInput(password.value, 'password')" #password />
    </div>

    <a class="small-link" href="/">Wachtwoord vergeten?</a>
  </form>

  <div class="login-height"></div>

  <div class="actions">
    <button class="btn btn-blue btn-main" (click)="login()">Log in</button>
    <p class="smaller-link">
      Heb je nog geen account? Maak <a class="small-link" href="/">hier</a> een
      account aan.
    </p>
  </div>
</ng-container>
