.fc {
  padding: 1em;
  margin: 1em;
  border: $medium-grey 2px solid;
  border-radius: 1em;

  .fc-basic-view .fc-body .fc-row {
    min-height: 2em;
  }

  .fc-center {
    h2 {
      font: $title;
      color: $cadet-blue;
    }
  }

  .ui-state-highlight {
    border: 1px solid #D5D5D5;
  }

  .fc-next-button,
  .fc-prev-button {
    background: $light-btn;
    border: $light-btn 2px solid;
    border-radius: 50%;
    color: $light-btn-txt;

    width: 1.5em !important;
    height: 1.5em !important;
    padding: 0 !important;

    .ui-icon {
      margin-top: 0.15em !important;
    }

    &.ui-button:enabled:hover {
      background: $light-btn-hover;
      border: $light-btn-hover 2px solid;
      color: $light-btn-txt;
    }

    &.ui-button:focus {
      border: $light-btn-hover 2px solid;
      background: $light-btn;
      color: $light-btn-txt;
    }
  }

  .fc-day-top {
    text-align: center;

    .fc-day-number {
      float: unset !important;
    }
  }
}
