<div class="welcome">
  <app-header-top></app-header-top>

  <form [formGroup]="registerForm" (ngSubmit)="createCaregiver(registerForm.value)">
    <h2>
      Welkom bij PillAssist
    </h2>
    <p>
      Maak hier uw account aan en voorkom verkeerd gebruik van medicatie.
    </p>
    <span class="alert alert-error" *ngIf="error">{{error}}</span>
    <div class="input-group">
      <input type="text" placeholder="Voornaam" name="firstName" formControlName="firstName" required id="firstName"
        [ngClass]="{'ng-filled': firstName.value }" />
      <label for="firstName" class="appear">Voornaam
      </label>

    </div>

    <ng-container *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <span class="alert alert-input">
        Gelieve uw voornaam in te vullen.
      </span>
    </ng-container>

    <div class="input-group">
      <input type="text" placeholder="Achternaam" name="lastName" formControlName="lastName" required id="lastName"
        [ngClass]="{'ng-filled': lastName.value }" />
      <label for="lastName" class="appear">Achternaam</label>
    </div>

    <ng-container *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <span class="alert alert-input">
        Gelieve uw achternaam in te vullen.
      </span>
    </ng-container>

    <div class="input-group">
      <input type="text" placeholder="E-mailadres" name="email" formControlName="email" required id="email"
        [ngClass]="{'ng-filled': email.value }" />
      <label for="email" class="appear">E-mailadres</label>
    </div>

    <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
      <span class="alert alert-input">
        Gelieve een geldig emailadres in te vullen.
      </span>
    </ng-container>

    <div class="input-group">
      <input type="password" placeholder="Wachtwoord" name="password" formControlName="password" required id="password"
        [ngClass]="{'ng-filled': password.value }" />
      <label for="password" class="appear">Wachtwoord</label>
    </div>

    <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
      <ng-container *ngIf="password.errors.minlength">
        <span class="alert alert-input">
          Uw paswoord moet meer dan 8 tekens bevatten.
        </span>
      </ng-container>
      <ng-container *ngIf="!password.errors.minlength">
        <span class="alert alert-input">
          Gelieve een paswoord in te vullen.
        </span>
      </ng-container>
    </ng-container>

    <div class="input-group">
      <input type="password" placeholder="Wachtwoord bevestigen" name="passwordConfirm"
        formControlName="passwordConfirm" required id="passwordConfirm"
        [ngClass]="{'ng-filled': passwordConfirm.value }" pattern="{{password.value}}" />
      <label for="passwordConfirm" class="appear">Wachtwoord bevestigen</label>
    </div>

    <ng-container
      *ngIf="(passwordConfirm.invalid || password.errors.pattern) && (passwordConfirm.dirty || passwordConfirm.touched)">
      <ng-container *ngIf="passwordConfirm.errors.pattern">
        <span class="alert alert-input">
          Uw paswoorden moeten overeenkomen.
        </span>
      </ng-container>
      <ng-container *ngIf="passwordConfirm.errors.minlength">
        <span class="alert alert-input">
          Uw paswoord moet meer dan 8 tekens bevatten.
        </span>
      </ng-container>
      <ng-container *ngIf="!passwordConfirm.errors.minlength && !passwordConfirm.errors.pattern">
        <span class="alert alert-input">
          Gelieve een paswoord in te vullen.
        </span>
      </ng-container>
    </ng-container>

    <div class="actions">
      <button class="btn btn-blue btn-main" type="submit">
        <span>Registreer</span>
        <img src="assets/img/icons/arrow-right.svg" alt="arrow-right" class="icon">
      </button>
      <p class="smaller-link">
        Heb je al een account? Log <a class="small-link" href="/">hier</a> in.
      </p>
    </div>
  </form>

</div>
