<header class="header-start">
  <app-header-top></app-header-top>
  <h2>
    <ng-container>
      Welkom bij PillAssist
    </ng-container>
    <ng-container *ngIf="isLoading">
      Aan het registreren...
    </ng-container>
  </h2>
  <p>
    Maak hier uw account aan en voorkom verkeerd gebruik van medicatie.
    {{error}}
  </p>
</header>

<ng-container>
  <form #f="ngForm" (ngSubmit)="createCaregiver(f)">
    <div class="input-group">
      <label for="firstName" class="appear">Voornaam</label>
      <input type="text" placeholder="Voornaam" name="firstName" ngModel />
    </div>

    <div class="input-group">
      <label for="lastName" class="appear">Achternaam</label>
      <input type="text" placeholder="Achternaam" name="lastName" ngModel />
    </div>

    <div class="input-group">
      <label for="email" class="appear">E-mailadres</label>
      <input type="text" placeholder="E-mailadres" name="email" ngModel />
    </div>

    <div class="input-group">
      <label for="password" class="appear">Wachtwoord</label>
      <input type="password" placeholder="Wachtwoord" name="password" ngModel />
    </div>

    <div class="login-height"></div>

    <div class="actions">
      <button class="btn btn-blue btn-main" type="submit">
        <span>Registreer</span>
        <img src="assets/img/icons/arrow-right.svg" alt="arrow-right" class="icon">
      </button>
      <p class="smaller-link">
        Heb je al een account? Log <a class="small-link" href="/">hier</a> in.
      </p>
    </div>
  </form>
</ng-container>
