<app-sidebar [patient]="patient"></app-sidebar>

<ng-container *responsive="{sizes:{min:850}}">
  <main>
    <header class="header-search">
      <input type="text" placeholder="Zoek medicatie">
    </header>
    <div class="main-content">
      <app-calendar-day></app-calendar-day>
    </div>
  </main>
</ng-container>

<div *responsive="{sizes:{min:850}}">
  <a class="btn btn-plus" (click)="isAddPillVisible = true; isCalendarVisible = false">
    <div class="btn-blue"><img class="icon" src="assets/img/icons/plus-white.svg" alt=""></div><span>Medicatie
      toevoegen</span>
  </a>
</div>

<p-dialog appendTo="body" dismissableMask="true" [(visible)]='isAddPillVisible' modal="true" [style]="{width: '75vw'}">
  <app-add-pill (closeEvent)="close()" [patient]=" patient">
  </app-add-pill>
</p-dialog>
