<ng-container *ngIf="!isAddPillVisible">

  <header class="header-app header-patient">
    <div class="patient-info">
      <h1 class="white">{{patient?.firstName}} {{patient?.lastName}}</h1>
      <ngx-avatar size="55" bgColor="#FFFFFF" fgColor="#35A6F5" name="{{patient?.firstName}}">
      </ngx-avatar>
    </div>

    <div class="flex" *responsive="{sizes:{max:850}}">
      <a class="btn btn-grey" (click)="showEditingPatient()"><img src="assets/img/icons/edit-3.svg" alt=""></a>
      <a class="btn btn-grey" (click)="showSettings()"><img src="assets/img/icons/settings.svg" alt=""></a>
      <a class="btn btn-grey" (click)="deletePatient(patient?.id)"><img src="assets/img/icons/trash-3.svg" alt=""></a>
    </div>
  </header>
  <div class="header-bg">
    <img src="assets/img/bollen.png" alt="" />
  </div>

  <main>
    <app-calendar-week-overview [patient]="patient"></app-calendar-week-overview>
    <app-patient-profile-card [patient]="patient"></app-patient-profile-card>
    <div class="flex actions" *responsive="{sizes:{min:850}}">
      <a class="btn btn-grey" (click)="showEditingPatient()"><img src="assets/img/icons/edit-3.svg" alt=""></a>
      <a class="btn btn-grey" (click)="showSettings()"><img src="assets/img/icons/settings.svg" alt=""></a>
      <a class="btn btn-grey" (click)="deletePatient(patient?.id)"><img src="assets/img/icons/trash-3.svg" alt=""></a>
    </div>
  </main>

</ng-container>

<p-dialog appendTo="body" dismissableMask="true" [(visible)]='isEditingPatient' modal="true" [style]="{width: '75vw'}">
  <app-patient-profile (closeEvent)="close()" [patient]="patient">
  </app-patient-profile>
</p-dialog>

<p-dialog appendTo="body" dismissableMask="true" [(visible)]='isViewingSettings' modal="true">
  <app-settings [patient]="patient" (closeEvent)="close()"></app-settings>
</p-dialog>
