<ng-container *ngIf="!isAddPillVisible">

  <header class="header-app">
    <div>
      <h1>{{patient.firstName}} {{patient.lastName}}</h1>
    </div>
    <ngx-avatar size="55" bgColor="#FFFFFF" fgColor="#35A6F5" name="{{patient.firstName}}"
      src="assets/img/{{patient.url}}.png">
    </ngx-avatar>
  </header>
  <div class="header-bg">
    <img src="assets/img/bollen.png" alt="" />
  </div>

  <app-calendar-week-overview [patient]="patient"></app-calendar-week-overview>
  <app-patient-profile-card [patient]="patient"></app-patient-profile-card>
</ng-container>
