<ng-container *responsive="{sizes:{max:850}}">
  <header class="header-app">
    <div class="header-body">
      <h1>Patiënten overzicht</h1>
      <p>Bekijk hier al uw patiënten en hun profiel.</p>
    </div>
    <ngx-avatar size="55" bgColor="#FFFFFF" fgColor="#35A6F5" name="{{caregiver?.firstName}}">
    </ngx-avatar>
  </header>
  <div class="header-bg">
    <img src="assets/img/bollen.png" alt="">
  </div>
</ng-container>
<main class="patients">
  <div class="main-content">
    <div class="main-content__card" *responsive="{sizes:{min:850}}">
      <h1>Overzicht <span class="title-blue"> patiënten</span></h1>
      <p>Hier kan u al uw hulpbehoevenden opvolgen.</p>
    </div>
    <div class="col-3">
      <div class="card card-patient card-add" *responsive="{sizes:{max:850}}">
        <a>
          <div class="btn btn-grey" [routerLink]="['/add-patient']">
            <img src="assets/img/icons/plus-white.svg" alt="">
          </div>
        </a>
        <div class="info">
          <a>
            <h3 [routerLink]="['/add-patient']">Voeg een nieuwe patiënt toe.</h3>
          </a>
        </div>
      </div>
      <div class="card card-add card-patient" *responsive="{sizes: {min: 850}}">
        <a>
          <div class="btn btn-grey" (click)="showAddPatient()">
            <img src="assets/img/icons/plus-white.svg" alt="">
          </div>
        </a>
        <div class="info">
          <a>
            <h3 (click)="showAddPatient()">Voeg een nieuwe patiënt toe.</h3>
          </a>
          <p class="light">Zodat u hun medicatiegebruik beter te kunnen opvolgen.</p>
        </div>
      </div>
      <ng-container *responsive="{sizes:{max:850}}">
        <div class="card card-patient" *ngFor="let patient of patients"
          [routerLink]="['/schema/', patient.firstName, patient.lastName]">
          <ngx-avatar size="35" bgColor="#84D1FB" name={{patient.firstName}}>
          </ngx-avatar>
          <div class="info" *responsive="{sizes:{max:850}}">
            <h3>{{patient.firstName}} {{patient.lastName}}</h3>
            <p class="light">Tel: {{patient.tel}}</p>
          </div>
        </div>
      </ng-container>
      <ng-container *responsive="{sizes:{min:850}}">
        <div class="card card-patient" *ngFor="let patient of patients">
          <app-calendar-week-overview [routerLink]="['/patient/', patient.firstName, patient.lastName]"
            [patient]="patient"></app-calendar-week-overview>
        </div>
      </ng-container>
    </div>
  </div>
</main>

<p-dialog appendTo="body" dismissableMask="true" [(visible)]='isAddingPatient' modal="true" [style]="{width: '75vw'}">
  <app-add-patient (closeEvent)="close()">
  </app-add-patient>
</p-dialog>
