<div class="main-content__card profile__card">
  <h1>Profiel</h1>
  <div class="main-content__card__body">
    <div>
      <p class="label">Voornaam</p>
      <p class="value">{{patient?.firstName}}&nbsp;</p>
      <p class="label">Achternaam</p>
      <p class="value">{{patient?.lastName}}&nbsp;</p>
      <p class="label">Email</p>
      <p class="value">{{patient?.email}}&nbsp;</p>
      <p class="label">Telefoonnummer</p>
      <p class="value">{{patient?.tel}}&nbsp;</p>
    </div>
  </div>
</div>
