<div class="main-content__card">
  <h1>Profiel</h1>
  <div class="col-2 main-content__card__body">
    <div class="input-group input-group--dark">
      <label for="firstName">Voornaam</label>
      <p>{{patient.firstName}}</p>
    </div>
    <div class="input-group input-group--dark">
      <label for="lastName">Achternaam</label>
      <p>{{patient.lastName}}</p>
    </div>
    <div class="input-group input-group--dark">
      <label for="email">Email</label>
      <p>{{patient.email}}</p>
    </div>
    <div class="input-group input-group--dark">
      <label for="tel">Telefoonnummer</label>
      <p>{{patient.tel}}</p>
    </div>

    <a class="btn btn-white"><span>Profiel bewerken</span></a>
  </div>
</div>
