<div class="add-pill">
  <header class="header-app">
    <div>
      <h1>
        Medicatie toevoegen
      </h1>
      <h2>Hiermee wijzigt u het schema</h2>
    </div>
    <img src="assets/img/avatar.png" alt="" />
  </header>
  <div class="header-bg">
    <img src="assets/img/bollen.png" alt="" />
  </div>
  <form action="/">
    <div class="input-group">
      <label for="name">
        Naam medicatie
      </label>
      <input type="text" placeholder="Vul de naam van uw medicatie in" />
    </div>
    <div class="input-group">
      <label for="dose">
        Dosis
      </label>
      <input type="text" placeholder="1mg" />
    </div>
    <div class="input-group">
      <label for="time-of-days">
        Tijdstip
      </label>
      <p-calendar [timeOnly]="true"></p-calendar>
    </div>
    <ng-container *ngFor="let timeOfDay of timeOfDays">
      <div class="input-group {{timeOfDay}} added-input-group">
        <div class="flex">
          <label for="time-of-days">
            Tijdstip {{timeOfDay}}
          </label>
          <a class="close-icon" (click)="deleteTimeInput($event)">x</a>
        </div>
        <p-calendar [timeOnly]="true"></p-calendar>
      </div>
    </ng-container>
    <div class="input-group add-input-group" (click)="addTimeInput()">
      <a>Voeg een tijdstip toe</a><span>+</span>
    </div>
    <div class="input-group">
      <label for="recurrence">
        Herhaling
      </label>
      <p-dropdown [options]="recurrences" (onChange)="setRecurrence($event);" (onHide)="isActive = 0"></p-dropdown>
    </div>
    <div class="input-group">
      <p-accordion [activeIndex]="isActive">
        <p-accordionTab header="Meer opties voor herhaling">
          <ng-container *ngIf="isEveryDay">
            <div class="radioButton-group">
              <p-radioButton name="dayRecurrence" value="everyWeekday" label="Enkel weekdagen"></p-radioButton>
            </div>
            <div class="radioButton-group">
              <p-radioButton name="dayRecurrence" value="everyWeekend" label="Enkel weekends"></p-radioButton>
            </div>
            <div class="radioButton-group">
              <p-radioButton name="dayRecurrence" value="checkDays"></p-radioButton>
              <span class="radioButton__label">Om de <input class="radioButton__input" type="number" min="1" max="20">
                dag(en)</span>
            </div>
          </ng-container>
          <ng-container *ngIf="isEveryWeek">
            <div class="checkBox-group">
              <p-checkbox name="dayOfWeek" value="monday" label="Maandag"></p-checkbox>
            </div>
            <div class="checkBox-group">
              <p-checkbox name="dayOfWeek" value="tuesday" label="Dinsdag"></p-checkbox>
            </div>
            <div class="checkBox-group">
              <p-checkbox name="dayOfWeek" value="wednesday" label="Woensdag"></p-checkbox>
            </div>
            <div class="checkBox-group">
              <p-checkbox name="dayOfWeek" value="thursday" label="Donderdag"></p-checkbox>
            </div>
            <div class="checkBox-group">
              <p-checkbox name="dayOfWeek" value="friday" label="Vrijdag"></p-checkbox>
            </div>
            <div class="checkBox-group">
              <p-checkbox name="dayOfWeek" value="saturday" label="Zaterdag"></p-checkbox>
            </div>
            <div class="checkBox-group">
              <p-checkbox name="dayOfWeek" value="sunday" label="Zondag"></p-checkbox>
            </div>
          </ng-container>
          <h4 class="ui-accordion-subtitle">Startdatum</h4>
          <p-calendar></p-calendar>
          <h4 class="ui-accordion-subtitle">Einddatum</h4>
          <div class="radioButton-group">
            <p-radioButton name="stopDate" value="noStopDate" label="Niet stopzetten"></p-radioButton>
          </div>
          <div class="radioButton-group">
            <p-radioButton name="stopDate" value="stopDateAfterNumber"></p-radioButton>
            <span class="radioButton__label">Stopzetten na <input class="radioButton__input" type="number" min="1"
                max="20">
              dag(en)</span>
          </div>
          <div class="radioButton-group">
            <p-radioButton name="stopDate" value="stopDateAfterDate"></p-radioButton>
            <span class="radioButton__label">Stopzetten na <p-calendar>
              </p-calendar>(datum)</span>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="actions">
      <button class="btn btn-main" [routerLink]="['']">Toevoegen</button>
      <a [routerLink]="['']">annuleer medicatie toevoegen</a>
    </div>
  </form>
</div>
