<ng-container *responsive="{sizes:{min:850}}">
  <app-nav-desktop></app-nav-desktop>
</ng-container>

<router-outlet style="display: none"></router-outlet>

<ng-container *responsive="{sizes:{min:850}}">
  <main>
    <header class="header-search">
      <input type="text" placeholder="Zoek medicatie">
    </header>
    <div class="main-content">
      <app-calendar-day-tomorrow></app-calendar-day-tomorrow>
      <app-calendar-week-overview></app-calendar-week-overview>
    </div>
  </main>
</ng-container>
