<router-outlet></router-outlet>

<ng-container *responsive="{sizes:{min:850}}">
  <main>
    <header class="header-search">
      <input type="text" placeholder="Zoek medicatie">
    </header>
    <div class="main-content">
      <app-calendar-day-tomorrow></app-calendar-day-tomorrow>
    </div>
  </main>
</ng-container>


<button class="btn btn-blue btn-main" (click)="logout()" *ngIf="authService.isLoggedIn">
  <span>Logout</span>
  <img src="assets/img/icons/arrow-right.svg" alt="arrow-right" class="icon">
</button>
