<header class="header-app header-app--other">
  <div class="header-body">
    <h1>Medicatieoverzicht van <span class="title-blue">{{patient?.firstName}}
        {{patient?.lastName}}</span></h1>

  </div>
  <ngx-avatar size="55" bgColor="#FFFFFF" fgColor="#35A6F5" name="{{patient?.firstName}}"
    *responsive="{sizes:{max:850}}">
  </ngx-avatar>
</header>
<div class="main-content__card calendar-day">
  <div class="header-bg header-bg--other" *responsive="{sizes:{max:850}}">
    <img src="assets/img/bollen.png" alt="" />
  </div>
  <div class="main-content__card__body col-2">
    <ng-container *ngFor="let pill of pillSchema">
      <div class="card card-pill appear">
        <div class="card__body">
          <h2 class="card__title">{{pill.quantity}} <span class="black">{{pill.name}}</span></h2>
          <span>
            <ng-container *ngIf="pill.isDaily === '1'">
              Dagelijks
            </ng-container>
            <ng-container *ngIf="pill.isWeekly === '1'">
              Wekelijks
            </ng-container>
            <ng-container *ngIf="pill.isMonthly === '1'">
              Maandelijks op de {{pill.startDate.getDate()}}<sup>e</sup> dag van de maand
            </ng-container>
            <ng-container *ngIf="pill.showEvery">Elke
              <ng-container *ngIf="pill.isEveryMonday">
                maandag
              </ng-container>
              <ng-container *ngIf="pill.isEveryTuesday">
                dinsdag
              </ng-container>
              <ng-container *ngIf="pill.isEveryWednesday">
                woensdag
              </ng-container>
              <ng-container *ngIf="pill.isEveryThursDay">
                donderdag
              </ng-container>
              <ng-container *ngIf="pill.isEveryFriday">
                vrijdag
              </ng-container>
              <ng-container *ngIf="pill.isEverySaturday">
                zaterdag
              </ng-container>
              <ng-container *ngIf="pill.isEverySunday">
                zondag
              </ng-container>
            </ng-container>
            <ng-container *ngIf="pill.isEveryEachDay === '1'">
              Om de dag
            </ng-container>
          </span>
          <span>om</span>
          <span class="time" *ngFor="let pillTime of pill.pills">
            {{pillTime.time}}
          </span>
        </div>
        <div>
          <p-overlayPanel #op appendTo="body">
            <div class="edit">
              <img class="icon" src="assets/img/icons/edit-2.svg" alt="edit"> <span>Bewerken</span>
            </div>
            <div class="delete">
              <img class="icon" src="assets/img/icons/trash-2.svg" alt="delete"> <span>Verwijderen</span>
            </div>
          </p-overlayPanel>
          <img class="icon icon-options" src="assets/img/icons/more-horizontal.svg" (click)="op.toggle($event)" />
        </div>
      </div>
    </ng-container>
  </div>
</div>
