<ng-container *ngIf="!isAddPillVisible">

  <header class="header-app">
    <div>
      <ng-container *responsive="{sizes:{max:850}}">
        <h1>
          <ng-container *ngIf="isMonthView">
            Maandoverzicht
          </ng-container>
          <ng-container *ngIf="!isMonthView">
            Dagoverzicht
          </ng-container>
        </h1>
        <h2>{{ date | date: 'fullDate' }}</h2>
      </ng-container>
      <ng-container *responsive="{sizes:{min:850}}">
        <h1>{{patient.name}}</h1>
      </ng-container>
    </div>
    <ngx-avatar size="55" bgColor="#FFFFFF" fgColor="#35A6F5" name="{{patient.name}}"
      src="assets/img/{{patient.url}}.png">
    </ngx-avatar>
  </header>
  <div class="header-bg">
    <img src="assets/img/bollen.png" alt="" />
  </div>

  <p-fullCalendar class="calendar" [ngClass]="{ invisible: !isMonthView }" [events]="events" [options]="options" #fc>
  </p-fullCalendar>

  <div class="flex time-of-day time-of-day--first">
    <h2>Jouw dag</h2>
    <a (click)="toggleVisibility()">
      <img class="icon" src="assets/img/icons/chevron-down.svg" class="arrow"
        [ngClass]="{ 'arrow-down': !isMonthView, 'arrow-up': isMonthView }" alt="" />
      <ng-container *ngIf="isMonthView">verberg kalender</ng-container>
      <ng-container *ngIf="!isMonthView">toon kalender</ng-container>
    </a>
  </div>

  <app-calendar-day [date]="date"></app-calendar-day>
</ng-container>
