<main class="profile">
  <div class="main-content">
    <div class="main-content__card">
      <h1>Uw profiel - <span class="title-blue">{{caregiver.firstName}} {{caregiver.lastName}}</span></h1>
      <p>Hier kan u de gegevens van een patiënt bewerken.</p>
      <div class="main-content__card__body">
        <div class="profile__picture">
          <ngx-avatar size="200" bgColor="#84D1FB" name={{caregiver.firstName}} src="assets/img/{{caregiver.url}}.png">
          </ngx-avatar>
          <div class="label">
            <label for="profilePic">Profielfoto (optioneel)</label>
            <p class="light">JPG, PNG zijn toegestaan. Uw afbeelding moet minstens 200 x 200px groot zijn.</p>
          </div>
        </div>

        <form class="profile__info">
          <div class="col-2">
            <div class="input-group input-group--dark">
              <label for="firstName">Voornaam</label>
              <input type="text" name="firstName" [(ngModel)]="caregiver.firstName"
                placeholder="Vul hier de voornaam in">
            </div>
            <div class="input-group input-group--dark">
              <label for="lastName">Achternaam</label>
              <input type="text" name="lastName" [(ngModel)]="caregiver.lastName"
                placeholder="Vul hier de achternaam in">
            </div>
            <div class="input-group input-group--dark">
              <label for="email">Email</label>
              <input type="text" name="email" [(ngModel)]="caregiver.email" placeholder="Vul hier de email in">
            </div>
            <div class="input-group input-group--dark">
              <label for="tel">Telefoonnummer</label>
              <input type="text" name="tel" [(ngModel)]="caregiver.tel" placeholder="Vul hier de telefoonnummer in">
            </div>
          </div>
          <a class="btn btn-main"><span>Opslaan</span></a>
        </form>
      </div>
    </div>
  </div>
</main>
