app-login {
  form {
    max-width: 350px;
    margin: 0 auto;

    .small-link {
      margin: 0 0.5em;
    }
  }

  .login-height {
    height: 22vh;
  }

  .register-link {
    margin-top: 1em;
    text-align: center;
  }
}
