.btn {
  text-decoration: none;
  &-plus {
    color: white;
    background: $main-blue;
    position: fixed;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    bottom: 1em;
    right: 1em;
    justify-content: center;
    align-items: center;
  }
}
