.btn {
  text-decoration: none;
  &-plus {
    color: white;
    background-image: linear-gradient(74deg, #314fd4, #49bef5 77%, #50dfff);
    position: fixed;
    padding: 0.4em 0.5em 0.2em;
    border-radius: 50%;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    display: block;
    bottom: 1em;
    right: 1em;
    font-family: "Hind Guntur", sans-serif;
  }
}
