.card {
  border: $subtle-border;
  border-radius: 1em;
  padding: 1em 1.5em;
  margin-bottom: 2em;
  background: white;

  display: flex;
  justify-content: space-between;

  &__icon {
    width: 25px;

    img {
      margin-top: 0.5em;
    }
  }

  &__body {
    width: 80%;
  }

  &__title {
    margin-block-start: 0;
    margin-block-end: 0;
    color: $main-blue;
  }

  &__subtitle {
    color: $cadet-blue;
    margin-bottom: 0;
  }

  &__desc {
    margin-block-start: 0;
    margin-block-end: 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__check {
    width: 25px;
  }

  &-patient {
    padding: 1em;
    display: flex;
    align-items: center;
    width: 341px;
    justify-content: left;

    ngx-avatar {
      margin-right: 1em;
    }

    .light {
      font-size: small;
      margin-bottom: 0;
    }
  }
}

.ui-overlaypanel {
  border: none;
  box-shadow: none;
  &-content {
    border-radius: 1em;
    border: $subtle-border;
    padding: 0;
    .edit,
    .delete {
      padding: 0.5em 1em;
      cursor: pointer;
    }

    .edit {
      border-bottom: 2px solid $light-charcoal;
    }
    img {
      width: 12px;
      height: 12px;
      margin-right: 10px;
    }
  }
}
