form {
  padding: 1em;

  .input-group {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em 1em 0.5em;

    .flex {
      justify-content: space-between;
    }

    label {
      color: $charcoal-grey;
    }

    .ui-calendar,
    .ui-dropdown {
      width: 100%;

      input {
        border-radius: unset;
        &:hover {
          border-bottom: 2px solid $light-charcoal;
          box-shadow: none;
        }
        &:focus {
          border-bottom: 2px solid $main-blue;
          box-shadow: none;
        }
      }

      .ui-timepicker {
        background: white;
      }
    }

    .ui-calendar {
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        background: url("/assets/img/icons/watch.svg") no-repeat;
        background-size: contain;
        position: absolute;
        right: 0.2em;
        transform: translateY(-2.4em);
        opacity: 0.5;
      }
    }

    .ui-dropdown {
      border: none;
      border-bottom: 2px solid $light-charcoal;
      border-radius: unset;
      padding: 0.4em 0;

      &.ui-dropdown:not(.ui-state-disabled):hover {
        border: none;
        border-bottom: 2px solid $main-blue;
        background: white;
      }

      li.ui-state-highlight {
        span {
          color: white;
        }
      }
    }

    .ui-dropdown-trigger {
      border: none;
    }

    .ui-dropdown-label,
    .ui-state-focus {
      border-radius: unset;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }

    input {
      font: $body;
      border: none;
      border-bottom: 2px solid $light-charcoal;
      padding: 0.4em 0;
      width: 100%;

      &:focus {
        border-bottom: 2px solid $main-blue;
      }
    }

    .ui-accordion-header {
      background: transparent !important;
      border: none;
      width: 100%;

      a {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;

        .ui-accordion-header-text {
          margin-top: 0.3em;
          margin-left: 0.5em;
        }
      }
    }

    .ui-accordion-subtitle {
      margin: 0.7em 0;
      font: $dayCalendar;
      color: $charcoal-grey;
    }

    .radioButton-group,
    .checkBox-group {
      display: flex;
      align-items: baseline;
      p-radiobutton {
        display: flex;
        align-items: baseline;
        .ui-state-focus {
          border-radius: 100%;
        }
      }

      p-checkbox {
        display: flex;
        align-items: baseline;
      }

      label,
      .radioButton__label {
        font-weight: normal;
        margin: 0 0 0.2em 0.5em;
        display: flex;
        transform: translateY(-0.25em);
      }

      .radioButton__input {
        width: 40px;
        padding: 0;
        text-align: center;
      }

      .ui-calendar input {
        width: 100px;
        padding: 0;
        text-align: center;
      }

      .ui-chkbox-box,
      .ui-chkbox-box.ui-state-active,
      .ui-radiobutton-box.ui-state-active,
      .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
        background: white;
        border-color: $medium-charcoal;
      }
    }
  }

  .add-input-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    margin: 0.4em 0;

    a,
    span {
      color: $main-blue;
    }

    .icon {
      margin-right: 0.5em;
    }
  }

  .ui-dropdown-trigger-icon {
    margin-left: -0.8em !important;
  }

  .added-input-group {
    animation: appearHeight 0.1s ease-out forwards;
  }
}
