.flex {
  display: flex;
}

.col-2 {
  padding: 1em 2em;
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 2em;
  }
}

.indented-lg {
  display: flex;
  .indentation {
    width: 1em;
  }
}
