::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $light-blue;
}

.col-2:hover {
  &::-webkit-scrollbar {
    display: block;
  }
}

.col-2::-webkit-scrollbar {
  display: none;
}
