//colors
$light-grey: #f0f5ff;

$charcoal-grey: #394450;
$medium-charcoal: #9ca2a8;
$light-charcoal: #eaebec;

$main-blue: #35a6f5;
$light-blue: #afe1fd;
$cadet-blue: #51689b;
$blue-highlight: #afe1fd;
$blue-today: #f5faff;

//shadows
$subtle-shadow: 0px 0px 20px 2px rgba(100, 100, 100, 0.1);
$subtle-shadow-inset: inset 0px -4px 20px rgba(100, 100, 100, 0.1);
$blue-shadow: 2px 4px 25px 10px rgba(76, 181, 246, 0.3);

$main-gradient: linear-gradient(65deg, #314fd4, #49bef5 77%, #50dfff);
$subtle-gradient: linear-gradient(65deg, #35a6f5, #69c8f7 77%, #6dddfe);
