//colors
$light-grey: #f0f5ff;

$charcoal-grey: #394450;
$medium-charcoal: #9ca2a8;
$light-charcoal: #eaebec;

$main-blue: #35a6f5;
$light-blue: #afe1fd;
$cadet-blue: #51689b;
$blue-highlight: #afe1fd;
$blue-today: #f5faff;
