@media (min-width: 1024px) {
  app-root {
    display: grid;
    grid-template-columns: 5em 3fr minmax(400px, 1fr);

    main {
      grid-column: 2;
      grid-row: 1;
      background: $light-grey;
      min-height: 100vh;
    }

    app-calendar,
    app-add-pill {
      grid-column: 3;
      padding: 0 1em;
      position: relative;
      overflow: auto;
      height: 100vh;
    }
  }
}

@media (min-width: 1400px) {
  app-root {
    grid-template-columns: 1fr 3fr minmax(400px, 1fr);
  }
}
