//colors
$light-grey: #F0F5FF;
$light-blue: #AFE1FD;
$charcoal-grey: #394450;
$medium-grey: #D7DADC;
$cadet-blue: #51689b;

  //buttons
  $light-btn: $light-grey;
  $light-btn-hover: $light-blue;
  $light-btn-txt: $charcoal-grey;

//typography

@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:500,600');

$header-title: bold 25px 'Hind Guntur', sans-serif;
$title: 600 18px 'Hind Guntur', sans-serif;
