//colors
$light-grey: #f0f5ff;

$charcoal-grey: #394450;
$medium-grey: #d7dadc;

$main-blue: #35a6f5;
$light-blue: #afe1fd;
$cadet-blue: #51689b;
$blue-highlight: #afe1fd;
$blue-today: #f5faff;

//buttons
$light-btn: $light-grey;
$light-btn-hover: $light-blue;
$light-btn-txt: $charcoal-grey;

//typography

@import url("https://fonts.googleapis.com/css?family=Hind+Guntur:500,600");

$header-title: bold 25px "Hind Guntur", sans-serif;
$title: 600 18px "Hind Guntur", sans-serif;
$day: bold 16px "Hind Guntur", sans-serif;
