body {
  margin: 0;
  overflow-y: overlay;
}

* {
  outline: none;
}

//general
@import "general/settings";
@import "general/typoghraphy";
@import "general/layout";
@import "general/animations";
@import "general/buttons";
@import "general/arrows";
@import "general/forms";
@import "general/cards";
@import "general/icons";
@import "general/scrollbar";
//calendar
@import "calendar/fullCalendar";
@import "calendar/calendarDay";
@import "calendar/header";
@import "calendar/tomorrow";
//add-pill
@import "add-pill/add-pill";
//login
@import "login/login";
@import "main-desktop";
