body {
  margin: 0;
  overflow-y: overlay;
}

a {
  text-decoration: none;
}

* {
  outline: none;
  box-sizing: border-box;
}

//general
@import "general/settings";
@import "general/typoghraphy";
@import "general/layout";
@import "general/animations";
@import "general/buttons";
@import "general/arrows";
@import "general/forms";
@import "general/cards";
@import "general/icons";
@import "general/scrollbar";
@import "general/nav";
@import "general/main";
@import "general/sidebar";
@import "general/alert";
@import "general/modals";
@import "general/tabs";
//calendar
@import "calendar/fullCalendar";
@import "calendar/calendarDay";
@import "calendar/header";
@import "calendar/weekOverview";
//add-pill
@import "add-pill/add-pill";
//login
@import "login/login";
//profile
@import "profile/profile";
//patients
@import "patients/patients";
