<div class='calendar-tomorrow'>
  <h1>Klaarzetten voor <span class="title-blue">morgen</span></h1>
  <div class="col-2">
    <div class="card card-pill appear">
      <div class="card__icon">
        <img class="check" src="assets/img/icons/check.svg" alt="check">
      </div>
      <div class="card__body">
        <h2 class="card__title">1 azilect</h2>
        <h3 class="card__subtitle">Om 10:30</h3>
        <p class="card__desc">Neem doosje 2</p>
      </div>
    </div>
    <div class="card card-pill appear">
      <div class="card__icon">
        <img class="check" src="assets/img/icons/check.svg" alt="check">
      </div>
      <div class="card__body">
        <h2 class="card__title">1 azilect</h2>
        <h3 class="card__subtitle">Om 10:30</h3>
        <p class="card__desc">Neem doosje 2</p>
      </div>
    </div>
    <div class="card card-pill appear">
      <div class="card__icon">
        <img class="check" src="assets/img/icons/check.svg" alt="check">
      </div>
      <div class="card__body">
        <h2 class="card__title">1 azilect</h2>
        <h3 class="card__subtitle">Om 10:30</h3>
        <p class="card__desc">Neem doosje 2</p>
      </div>
    </div>
    <div class="card card-pill appear">
      <div class="card__icon">
        <img class="check" src="assets/img/icons/check.svg" alt="check">
      </div>
      <div class="card__body">
        <h2 class="card__title">1 azilect</h2>
        <h3 class="card__subtitle">Om 10:30</h3>
        <p class="card__desc">Neem doosje 2</p>
      </div>
    </div>
    <div class="card card-pill appear">
      <div class="card__icon">
        <img class="check" src="assets/img/icons/check.svg" alt="check">
      </div>
      <div class="card__body">
        <h2 class="card__title">1 azilect</h2>
        <h3 class="card__subtitle">Om 10:30</h3>
        <p class="card__desc">Neem doosje 2</p>
      </div>
    </div>
  </div>
</div>
