<main class="caregivers">
  <div>
    <h1>Medeverzorgers bekijken en toevoegen - <span class="title-blue">{{patient.firstName}}
        {{patient.lastName}}</span>
    </h1>
    <p class="desc">Hier vind u een overzicht van alle medeverzorgers en kunt u ze toevoegen aan uw patiënt</p>

    <h2>Uw medeverzorgers:</h2>
    <div class="flex">
      <div class="card card-caregiver" *ngFor="let caregiver of selectedCaregivers">
        <ngx-avatar size="35" bgColor="#84D1FB" name={{caregiver.firstName}}>
        </ngx-avatar>
        <div class="info">
          <h3>{{caregiver.firstName}} {{caregiver.lastName}}</h3>
          <p class="light">Email: {{caregiver.email}}</p>
        </div>
      </div>
    </div>

    <h2>Alle medeverzorgers:</h2>
    <div class="flex">
      <div class="card card-caregiver" *ngFor="let caregiver of allCaregivers">
        <ngx-avatar size="35" bgColor="#84D1FB" name={{caregiver.firstName}}>
        </ngx-avatar>
        <div class="info">
          <h3>{{caregiver.firstName}} {{caregiver.lastName}}</h3>
          <p class="light">Email: {{caregiver.email}}</p>
        </div>
        <div class="plus">
          <img src="assets/img/icons/plus.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</main>
