app-calendar-day {
  .calendar-day {
    margin-top: 2em;
    padding: 2em;

    @media (min-width: 850px) {
      margin-top: 0;
      padding: 0;
    }
  }
}

.time-of-day {
  padding: 1em;
  h2 {
    color: $main-blue;
  }

  h3 {
    color: $cadet-blue;
  }

  &--first {
    justify-content: space-between;
    align-items: baseline;
  }
}
