app-calendar-day {
  .days-container {
    padding: 0 1em 1.5em;
  }
}

.time-of-day {
  padding: 1em;
  h2 {
    color: $main-blue;
  }

  h3 {
    color: $cadet-blue;
  }

  &--first {
    justify-content: space-between;
    align-items: baseline;
  }
}
