app-calendar-day {
  .days-container {
    padding: 0 1.5em 1.5em;
  }
}

.time-of-day {
  padding: 1em;
  h3 {
    color: $main-blue;
    font: $title;
  }

  &--first {
    justify-content: space-between;
    align-items: baseline;
  }
}
