.week-overview {
  &__content {
    display: flex;
    .legend {
      ul {
        padding: 0.8em 0 0;
        li {
          list-style-type: none;
          display: flex;
          margin-bottom: 1em;

          &:first-child {
            .legend__number {
              background-color: $main-blue;
            }
          }

          &:nth-child(2) {
            .legend__number {
              background: $cadet-blue;
            }
          }
        }
      }

      &__number {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: white;
        text-align: center;
        margin-right: 1em;
        padding: 5px;
        transform: translateY(-5px);
        box-shadow: $subtle-shadow;
      }
    }

    .chart {
      padding: 1em 2em;
      canvas {
        width: 100px;
        height: 100px;
      }

      .chart-img {
        position: absolute;
        transform: translate(13px, -88px);
      }
    }
  }
}
