.week-overview {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      display: none;
    }
    .legend {
      ul {
        display: flex;
        padding: 0;
        justify-content: center;
        li {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;

          .legend__number {
            margin-right: 0;
            padding: 0px 2px 5px 2px;
          }

          &:first-child {
            margin-right: 2em;
            .legend__number {
              background-color: $main-blue;
            }
          }
          &:last-child {
            .legend__number {
              background: $cadet-blue;
            }
          }
        }
      }

      &__number {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: white;
        text-align: center;
        margin-right: 1em;
        padding: 5px;
        transform: translateY(-5px);
        border: $subtle-border;
      }
    }

    .chart {
      padding: 1em 2em;
      canvas {
        width: 200px !important;
        height: 200px !important;
        margin: 0 auto;
      }

      .chart-img {
        position: absolute;
        transform: translate(56px, -180px);
      }
    }
  }
}
